*{
  margin: 0px;
}
.header{
  background-color: navy;
  color: white;
  text-align: center;
  padding: 12px;
}
.atags a{
  text-decoration: none;
   color: white;
   padding:5px;
}
.atags a:hover{
  color:cornflowerblue;
  text-decoration: underline;
}
.header h2{
  padding: 5px;
}
.footer{
  display: flex;
  background-color: navy;
  color: white;
  align-items:space-between;
  padding: 20px;
  justify-content: space-between;
}
